@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.projects {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
    }
    @include desktop {
      flex-direction: row;
      gap: 3.5rem;
    }
  }
  
}

