@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.education{
    &__course{
        margin-bottom: .25rem;
        font-weight: 500;
    }
    &__school{
        font-weight: 400;
        color: $white-50;
    }
    &__doc{
        display: block;
        margin-bottom: .25rem;
        font-style: italic;
    }
}