@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.education{
    &__course{
        margin-bottom: .25rem;
        font-weight: 500;
    }
    &__school{
        font-weight: 400;
        color: $white-50;
    }
    &__doc{
        display: block;
        margin-bottom: .25rem;
        font-style: italic;
    }
}

.load-more {
    color: $white;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    // color: $blue-500;
    padding: .75rem;
    background-color: $purple;
    border-radius: 1.25rem;
    text-decoration: underline;
    transition: $transition;
    &:hover, &:focus {
        background-color: $pink;
    }
    @include tablet{
        font-size: 1rem;
    }
    @include desktop{
        padding: .75rem 1rem;
    }
 
   
     &__container{
        @include flex-center;
        margin-top: .75rem;
        @include tablet{
            margin-top: 1.25rem;
        }
        @include desktop{
            margin-top: 1.75rem;
        }
     }
}