@use "./variables" as *;

// Mixins break points
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Flex
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}