@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Medium.ttf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-SemiBold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Ribeye";
    src: url("/fonts/Ribeye-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.ttf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-SemiBold.ttf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
}