@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  &__part-one {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 43%;
      left: 5%;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: $purple-blur;
      filter: blur(90px);
    }
    &::after {
      top: 49%;
      left: 60%;
      background-color: $pink-blur;
    }

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    
      &::before {
        top: 2%;
        left: 45%;
      }
      &::after {
        top: 18%;
        left: 75%;
      }
    }
    @include desktop {
      &::before,
      &::after {
        width: 10rem;
        height: 10rem;
        filter: blur(110px);
      }
      &::before {
        top: 5%;
        left: 42%;
      }
      &::after {
        top: 16%;
        left: 62%;
      }
    }
  }

  &__action-container {
    @include flex-center;
    gap: 1.5rem;
    margin: 1rem 0;
    @include desktop{
      width: 60%;
    }
  }

  &__action-link {
    @include flex-center;
    width: 50%;
    padding: 0.75rem;
    border-radius: 1.5rem;
    border: 2px solid $white;
    color: $white;
    transition: $transition;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
    &:hover, &:focus {
      border-color: $blue-500;
      color: $blue-500;
    }
  }

  &__part-two {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 6px solid $gray-800;

    &-container {
      width: 80%;
      height: auto;
      margin: 0 auto;
      z-index: 100;
      @include tablet {
        width: 40%;
        float: right;
        margin-left: 0.75rem;
      }
      @include desktop {
          width: 35%;
          float: none;
          margin: 0;
      }
    }
  }

  &__content {
    z-index: 100;
    color: $gray-200;

    &-part-one{
      @include tablet {
        width: 55%;
      }
      @include desktop {
        width: 65%;
      }
    }
   
    &-part-two{
      margin-top: 1rem;
      @include desktop {
        width: 65%;
        margin-top: 1.5rem;
      }
    }

    &-name {
      font-size: 1.85rem;
      font-weight: 500;
      margin-bottom: 1rem;
      @include desktop {
        font-size: 3.4375rem;
      }
    }
    &-role {
      font-size: 1.55rem;
      color: $white-50;
      letter-spacing: 0.2rem;
      @include desktop {
        font-size: 2rem;
      }
    }
    &-greeting {
      font-size: 1.0625rem;
      margin-bottom: 0.75rem;
    }
    &-text {
      margin-bottom: 0.5rem;
    }
  }
}



.video {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 6px solid $gray-800;
  &__container {
    width: 80%;
    margin: 0 auto;
    z-index: 100;
    @include tablet {
      width: 45%;
      margin: 0;
    }
    @include desktop {
      width: 35%;
    }
  }
}
