@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3.125rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 25%;
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    background-color: $purple-blur;
    filter: blur(120px);
  }
  &::after {
    top: 60%;
    left: 40%;
    background-color: $pink-blur;
  }
  @include tablet {
    padding-top: 2.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    &::before {
      top: 25%;
      left: 35%;
    }
    &::after {
      top: 55%;
      left: 55%;
    }
  }
  @include desktop {
    gap: 5rem;
  }
  &__image {
    display: block;
    width: 11.875rem;
    height: 11.875rem;
    border-radius: 50%;
    align-self: center;
    z-index: 100;
    @include tablet {
      width: 13.75rem;
      height: 13.75rem;
    }
    @include desktop {
      width: 21.875rem;
      height: 21.875rem;
    }
  }

  &__content {
    // height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.125rem;

    @include tablet {
      width: 47%;
      height: 45%;
      //   margin: 0 auto;
    }
    @include desktop {
      width: 45%;
      height: auto;
    }
  }
  &__personal-info {
    z-index: 100;
    color: $hero-text-color;
    font-size: 1.125rem;
    @include desktop {
      font-size: 1.25rem;
    }
    &--name {
      font-size: 2.85rem;
      font-weight: 400;
      @include desktop {
        font-size: 3.4375rem;
      }
    }
    &--role {
      color: $hero-accent-color;
      @include desktop {
        font-size: 2rem;
      }
    }
  }

  &__github {
    z-index: 100;

    &-comment {
      margin-bottom: 0.75rem;
    }
    &-link {
      word-wrap: break-word;
    }
    &-var {
      color: $const-color;
    }
    &-name {
      color: $hero-accent-color;
    }
    &-equal {
      color: $hero-text-color;
    }
    &-value {
      color: $value-color;
      word-wrap: break-word;
    }
  }
}

span {
  margin-right: 0.3125rem;
}
