@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.show-more{
  &__container{
    @include flex-center;
    margin-top: .75rem;
    @include tablet{
      display: none;
    }
  }
  &__button {
    cursor: pointer;
    color: $blue-500;
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    display: inline-block;
    font-family: "Fira Code", sans-serif;
  }

}
