@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.logo {
    display: flex;
    align-items: center;
    gap: .3125rem;
    color: $white;
    @include desktop{
      gap: .625rem;
    }

    &-icon {
      padding: 0.5rem;
      border-radius: 50%;
      background-color: $blue-500;
      font-size: 1.25rem;
      font-family: "Ribeye";
      @include desktop{
        font-size: 1.75rem;
      }
    }
    &-text{
      font-size: 1.25rem;
      @include desktop{
        font-size: 2rem;
      }
      &--highlight{
        font-weight: 600;
      }
    }
  }