@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 80rem;
  margin: 0 auto;
  @include tablet{
    padding: 1.5rem;
  }
  @include desktop {
    padding: 2.25rem;
  }

  &__nav {
    display: none;
    @include tablet {
      display: block;
    }
  }

  &__list {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    @include desktop {
      gap: 1.75rem;
      font-size: 1.125rem;
    }
  }
  &__link {
    display: block;
    color: $white-50;
    // padding: 1.5rem;
  }
}
