@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

:root {
  --bg-primary: #010c15;
  --bg-secondary: #011627;
  --text-color: #607b96;
  --hero-text-color: #e5e9f0;
  --hero-accent-color: #43d9ad;
  --const-color: #4d5bce;
  --value-color: #e99287;
  --purple-blur: #5565e8;
  --pink-blur: #c98bdf;

  --main-border: #1e2d3d;
}

[data-theme="dark"] {
  --background-color: #010c15;
  --text-color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
  // height: 100vh;
}
a {
  text-decoration: inherit;
}
ul {
  list-style: none;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-color);
  font-family: "Fira Code", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  @include desktop {
    font-size: 1rem;
  }
}

.root__container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 1px solid var(--main-border);
  background-color: var(--bg-secondary);
  @include desktop{
    margin: 2rem;
  }
}

main {
  flex: 1;
}

.section {
  padding: 1.75rem 1rem;
  max-width: 80rem;
  margin: 0 auto;
  &-title {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    color: var(--hero-text-color);
    @include tablet{
      margin-bottom: 1rem;
    }
    @include desktop{
      margin-bottom: 1.5rem;
    }
  }

  
}
.about-skills__container{
  @include tablet{
    display: flex;
    gap: 1.25rem;
  }
}