@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  max-width: 100vw;
}
a {
  text-decoration: inherit;
}
ul {
  list-style: none;
}
button {
  border: 0;
  background-color: transparent;
  @include flex-center;
}
body {
  background-color: $bg-secondary;
  // background-color: $bg-primary;
  color: $white-80;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  @include tablet{
    font-size: .9375rem;
  }
  @include desktop{
    font-size: 1.0313rem;
  }
}

.section {
  padding: 1.75rem .9375rem;
  max-width: 76.5rem;
  margin: 0 auto;
  @include tablet {
    padding: 2rem 1.15rem;
  }
  @include desktop{
    padding: 3rem 1.5rem;
  }
}

